@mixin vSplitter($height, $color:#fff) {
	.splitter {
		display: inline-block;
		height: $height;
		border-right: 0.01rem solid $color;
	}
}

@mixin hSplitter($width, $color:#fff) {
	.splitter {
		width: $width;
		border-top: 0.01rem solid $color;
	}
}

@mixin hCenterAbsoluteDiv($top) {
	position: absolute;
	left: 50%;
	top: $top;
	transform: translate(-50%, 0);
}

@mixin centerAbsoluteDiv() {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin sRedDiv($width:6.5vw, $height:1vh) {
	.s-red-div {
		width: $width;
		height: $height;
		background-color: $red;
	}
}
