@import "mixin";

html, body {
	height: 100%;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.page1 {
	display: none;
	background-image: url("../imgs/p1/bg.jpg");
	.brand {
		@include hCenterAbsoluteDiv(10vh);
		width: 40vw;
	}
	main {
		position: relative;
		margin-top: 30vh;
		height: 23.6vh;
		border: 1px solid transparent; // for bfc
		.happy {
			@include hCenterAbsoluteDiv(0);
			width: 80vw;
		}
		.font-wrap {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 6vh;
			.year {
				width: 28vw;
				padding: 5vw;
			}
			.snow {
				width: 6vw;
			}
		}
	}
	> footer {
		$box-width: 90vw;
		$img-width: 15vw;

		position: relative;
		margin: 0 auto;
		margin-top: 20vh;
		width: $box-width;
		height: 30vh;

		> img {
			position: absolute;
			width: $img-width;
			height: 6vh;
			&:first-child {
				top: 12.5vh;
				left: 2vw;
			}
			&:nth-child(2) {
				top: 7.5vh;
				left: 12vw;
			}
			&:nth-child(3) {
				top: 2.9vh;
				left: 23vw;
			}
			&:nth-child(4) {
				top: 0;
				left: $box-width/2 - $img-width/2;
			}
			&:nth-child(5) {
				top: 2.9vh;
				right: 23vw;
			}
			&:nth-child(6) {
				top: 7.5vh;
				right: 12vw;
			}
			&:nth-child(7) {
				top: 12.5vh;
				right: 2vw;
			}
			&:last-child {
				top: 12vh;
				left: $box-width/2 - 8/2;
				width: 8vw;
				height: 10vh;
			}
		}
	}
}

.page2 {
	display: none;
	background-image: url("../imgs/p2/bg.jpg");
	background-position: center, center;

	.desc {
		@include centerAbsoluteDiv();
		@include vSplitter(10vh);

		display: flex;
		justify-content: center;
		align-items: center;

		padding: 5vw;
		width: 100%;
		box-sizing: border-box;

		background-color: rgba(64, 66, 73, 0.8);

		.detail {
			margin-right: 5vw;
			width: auto;
			height: 10vh;
		}
		.brand {
			margin-left: 5vw;
			width: auto;
			height: 7vh;
		}
	}
}

.page3 {
	display: none;
	background-image: url("../imgs/p3/bg2.jpg");
	background-position: right top;
	background-size: cover;
	.main-bg {
		position: relative;
		height: 100%;
		background-size: cover;
		background-position: -28.5vw 13.4vh;
		background-image: url("../imgs/p3/bg1.png");
		background-repeat: no-repeat;
		z-index: 5;

	}
	.desc {
		@include hSplitter(23vw);
		.splitter {
			position: absolute;
			right: 5vw;
			top: 14vh;
		}
		background-image: url("../imgs/p3/sbg1.png");
		width: 90vw;
		height: 66vh;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
		[class^="zi"] {
			position: absolute;
			right: 5vw;
		}
		.zi1 {
			top: 6vh;
			width: 30vw;
		}
		.zi2 {
			top: 9vh;
			width: 50vw;
		}
		.zi3 {
			top: 15vh;
			width: 20vw;
		}
	}
}

.page4 {
	background-image: url("../imgs/p4/bg1.png");
	background-size: cover;
	.main-bg {
		height: 100vh;
		background-image: url("../imgs/p4/bg2.png");
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: contain;
	}
	.desc {
		@include hSplitter(42vw, #000);
		@include sRedDiv();
		.s-red-div {
			position: absolute;
			top: 3.95vh;
			right: 5vw;
		}
		.splitter {
			position: absolute;
			right: 5vw;
		}
		.splitter1 {
			@extend .splitter;
			top: 5vh;
		}
		.splitter2 {
			@extend .splitter;
			top: 10.5vh;
			width: 24vw;
		}
		width: 48vw;
		height: 23vh;
		position: absolute;
		right: 0;
		top: 4vh;
		z-index: 3;
		[class^="zi"] {
			position: absolute;
			right: 5vw;
		}
		.zi1 {
			top: 6vh;
			width: 42vw;
		}
		.zi2 {
			top: 12vh;
			width: 20vw;
		}
		.zi3 {
			top: 17vh;
			width: 26vw;
		}
	}
}
