@import "variable";
@import "mixin";

.fire-cracker {
	position: absolute;
    bottom: 5vh;
    left: 47vw;
    width: 8vw;
    height: 10vh;
	z-index: 20;
}

html, body {
	height: 100%;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

/*.page1,.page2,.page3,.page4,.page6 {*/
	/*display: none;*/
/*}*/
.page1 {
	visibility:hidden;
	background-image: url("../imgs/p1/bg.jpg");
	.brand {
		@include hCenterAbsoluteDiv(10vh);
		width: 40vw;
	}
	main {
		position: relative;
		margin-top: 30vh;
		height: 23.6vh;
		border: 1px solid transparent; // for bfc
		.happy {
			@include hCenterAbsoluteDiv(0);
			width: 80vw;
		}
		.year {
			@include hCenterAbsoluteDiv(10vh);
			width: 28vw;
			top: 9vh;
		}
		.snow {
			@include hCenterAbsoluteDiv(10.5vh);
			width: 6vw;
		}
		.snow1 {
			@extend .snow;
			left: 27vw
		}
		.snow2 {
			@extend .snow;
			left: 73vw;
		}
		.bow {
			@include hCenterAbsoluteDiv(17vh);
			width: 30vw;
			height: 10vh;
			top: 17vh;
		}
	}
	> footer {
		$box-width: 90vw;
		$img-width: 15vw;

		position: relative;
		margin: 0 auto;
		margin-top: 20vh;
		width: $box-width;
		height: 30vh;

		> img {
			position: absolute;
			width: $img-width;
			height: 6vh;
			&:first-child {
				top: 12.5vh;
				left: 2vw;
			}
			&:nth-child(2) {
				top: 7.5vh;
				left: 12vw;
			}
			&:nth-child(3) {
				top: 2.9vh;
				left: 23vw;
			}
			&:nth-child(4) {
				top: 0;
				left: $box-width/2 - $img-width/2;
			}
			&:nth-child(5) {
				top: 2.9vh;
				right: 23vw;
			}
			&:nth-child(6) {
				top: 7.5vh;
				right: 12vw;
			}
			&:nth-child(7) {
				top: 12.5vh;
				right: 2vw;
			}
			/*&:last-child {*/
				/*top: 12vh;*/
				/*left: $box-width/2 - 8/2;*/
				/*width: 8vw;*/
				/*height: 10vh;*/
			/*}*/
		}


	}
}

.page2 {
	visibility: hidden;
	background-image: url("../imgs/p2/bg.jpg");
	background-position: center, center;

	.desc {
		@include centerAbsoluteDiv();
		@include vSplitter(10vh);

		display: flex;
		justify-content: center;
		align-items: center;

		padding: 5vw;
		width: 100%;
		box-sizing: border-box;

		background-color: rgba(64, 66, 73, 0.8);

		.detail {
			margin-right: 5vw;
			width: auto;
			height: 10vh;
		}
		.brand {
			margin-left: 5vw;
			width: auto;
			height: 7vh;
		}
	}
}

.page3 {
	visibility: hidden;
	background-image: url("../imgs/p3/bg2.jpg");
	background-position: right top;
	background-size: cover;
	.main-bg {
		position: relative;
		height: 100%;
		background-size: cover;
		background-position: -28.5vw 13.4vh;
		background-image: url("../imgs/p3/bg1.png");
		background-repeat: no-repeat;
		z-index: 5;
	}
	.desc {
		@include hSplitter(23vw);
		.splitter {
			position: absolute;
			right: 5vw;
			top: 14vh;
		}
		background-image: url("../imgs/p3/sbg1.png");
		width: 90vw;
		height: 66vh;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
		[class^="zi"] {
			position: absolute;
			right: 5vw;
		}
		.zi1 {
			top: 6vh;
			width: 30vw;
		}
		.zi2 {
			top: 9vh;
			width: 50vw;
		}
		.zi3 {
			top: 15vh;
			width: 20vw;
		}
	}
}

.page4 {
	visibility: hidden;
	background-image: url("../imgs/p4/bg1.png");
	background-size: cover;
	.main-bg {
		height: 100vh;
		background-image: url("../imgs/p4/bg2.png");
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: contain;
	}
	.desc {
		@include hSplitter(42vw, #000);
		@include sRedDiv();
		.s-red-div {
			position: absolute;
			top: 3.95vh;
			right: 5vw;
		}
		.splitter {
			position: absolute;
			right: 5vw;
		}
		.splitter1 {
			@extend .splitter;
			top: 5vh;
		}
		.splitter2 {
			@extend .splitter;
			top: 10.5vh;
			width: 24vw;
		}
		width: 48vw;
		height: 23vh;
		position: absolute;
		right: 0;
		top: 4vh;
		z-index: 3;
		[class^="zi"] {
			position: absolute;
			right: 5vw;
		}
		.zi1 {
			top: 6vh;
			width: 42vw;
		}
		.zi2 {
			top: 12vh;
			width: 20vw;
		}
		.zi3 {
			top: 17vh;
			width: 26vw;
		}
	}
}

.page5 {
	visibility: hidden;
	background-color: $red;
	.desc {
		@include hSplitter(77vw, #000);
		@include sRedDiv();
		.s-red-div {
			position: absolute;
			top: 0.4vh;
			right: 5vw;
		}
		.splitter {
			position: absolute;
			right: 5vw;
		}
		.splitter1 {
			@extend .splitter;
			top: 1.5vh;
		}
		.splitter2 {
			@extend .splitter;
			top: 8vh;
			width: 57vw;
		}
		[class^="zi"] {
			position: absolute;
			right: 5vw;
		}
		.zi1 {
			top: 3vh;
			width: 76vw;
		}
		.zi2 {
			top: 9vh;
			width: 20vw;
		}
		z-index: 4;
		background-color: white;
		width: 85vw;
		height: 14vh;
		margin: 0 auto;
		position: absolute;
		top: 5vh;
		left: 7vw;
	}
	.main-top-bg {
		z-index: 3;
		width: 100%;
		height: 50vh;
		position: absolute;
		background-size: cover;
		background-image: url('../imgs/p5/bg1.png');
		.txt1 {
			position: absolute;
			width: 22vw;
			right: 31vw;
			bottom: 23vh;
		}
	}
	.main-bottom-bg {
		z-index: 2;
		background-color: white;
		background-image: url('../imgs/p5/bg2.png');
		position: absolute;
		width: 100%;
		height: 100vh;
		background-repeat: repeat;
		.txt1 {
			position: absolute;
			right: 9vw;
			bottom: 21vh;
			width: 22vw
		}
		.brand {
			background-image: url('../imgs/p5/zi4.png');
			position: absolute;
			bottom: 3vh;
			right: 0vw;
			transform: scale(0.6,0.6);
		}
	}
	.person-man {
		z-index: 5;
		position: absolute;
		top: 19vh;
		right: 3vw;
		height: 50vh;
	}
	.person-kun {
		z-index: 7;
		position: absolute;
		bottom: 0;
		left: 3vw;
		height: 50vh;
		transform: scale(0.9,0.9);
	}
	.person-nini {
		z-index: 6;
		position: absolute;
		bottom: 3vh;
		left: 21vw;
		height: 50vh;
	}
}

.page6 {
	visibility: hidden;
	.desc {
		@include hSplitter(62vw, #000);
		@include sRedDiv();
		position: relative;
		.s-red-div {
			position: absolute;
			top: 0.4vh;
			right: 5vw;
		}
		.splitter {
			position: absolute;
			right: 5vw;
		}
		.splitter1 {
			@extend .splitter;
			top: 1.5vh;
		}
		.splitter2 {
			@extend .splitter;
			top: 8vh;
			width: 43vw;
		}
		[class^="zi"] {
			position: absolute;
			right: 5vw;
		}
		.zi1 {
			top: 3vh;
			width: 62vw;
		}
		.zi2 {
			top: 9vh;
			width: 20vw;
		}
		.tips {
			width: 28vw;
			font-size: 0.875rem;
			position: absolute;
			top: 16vh;
			right: 2vw;
			line-height: 3vh;
			transform: scale(0.8, 0.8);
			span {
				display: block;
				text-align: end;
			}
		}
		position: relative;
		background-image: url("../imgs/p6/white-triangle.png");
		width: 100vw;
		height: 43vh;
		margin-top: 5vh;
		background-size: cover;
		z-index: 5;
	}

	[class^="part-img"] {
		position: absolute;
	}

	.part-img1 {
		background-image: url("../imgs/p6/tu-17.png");
		top: 5vh;
		left: 0;
		width: 30vw;
		height: 13vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: -2vw;
	}
	.part-img2 {
		background-image: url("../imgs/p6/b5.jpg");
		left: 27vw;
		top: 17vh;
		width: 80vw;
		height: 30vh;
		transform: scale(0.7, 0.7);
		background-repeat: no-repeat;
	}
	.part-img3 {
		background-image: url("../imgs/p6/b1.png");
		left: -6vw;
		top: 10vh;
		width: 51vw;
		height: 72vh;
		transform: scale(0.8, 0.8);
		background-repeat: no-repeat;
	}
	.part-img4 {
		background-image: url("../imgs/p6/b2.png");
		right: -12.5vw;
		top: 38vh;
		width: 86vw;
		height: 42vh;
		transform: scale(0.7, 0.8);
		background-repeat: no-repeat;
	}
	.part-img5 {
		background-image: url("../imgs/p6/b3.png");
		left: -5vw;
		bottom: -20vh;
		width: 52vw;
		height: 50.7vh;
		transform: scale(0.8, 0.8);
		background-repeat: no-repeat;
	}
	.part-img6 {
		background-image: url("../imgs/p6/b4.png");
		background-repeat: no-repeat;
		bottom: -20vh;
		right: 10vw;
		width: 55vw;
		height: 50.7vh;
		transform: scale(0.8, 0.8);
	}
	.part-img7 {
		background-image: url("../imgs/p6/b5.jpg");
		background-repeat: no-repeat;
		bottom: -6vh;
		right: -2vw;
		width: 20vw;
		height: 35vh;
		background-position: -30vw -1vh;
		transform: scale(0.8,0.8);
	}

}

